<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Sistem Kependudukan DKI Jakarta</title>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
        </ul>
    </div>
</nav>

<!-- Main content -->
<div class="container">
    <h2><strong>SUKSES!</strong></h2>
    <div th:switch="${condition}">
        <label th:case="tambah-keluarga">
            <h3 th:text="'Keluarga dengan NKK ' + ${nkk} + ' berhasil ditambahkan'">berhasil menambahkan keluarga</h3>
        </label>
        <label th:case="ubah-keluarga">
            <h3 th:text="'Keluarga dengan NKK ' + ${nkk} + ' berhasil diubah'">berhasil mengubah keluarga</h3>
        </label>
        <label th:case="tambah-penduduk">
            <h3 th:text="'Penduduk dengan NIK ' + ${nik} + ' berhasil ditambahkan'">berhasil menambahkan penduduk</h3>
        </label>
        <label th:case="ubah-penduduk">
            <h3 th:text="'Penduduk dengan NIK ' + ${nik} + ' berhasil diubah'">berhasil mengubah penduduk</h3>
        </label>
    </div>
</div>
</body>
</html>